body{
    background: url("../images/prism.png");
}
#container{
    background: #0090c1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 1600px;
    margin: auto;
    border-radius: 40px;
    border: 2px white solid;
}
h1{
    text-align: center;
    background: #022f40;
    border-top: 3px white solid;
    padding: 5px 0px 5px 0px;
    border-bottom: 3px white solid;
    color: white;
    text-transform: uppercase;
}

#footer{
    clear: both;
    text-align: center;
    background: #022f40;
    float: bottom;
    height: 50px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top: 3px white solid;
}
#f_text{
    padding: 15px;
    color: white;
    text-transform: uppercase;
}
.actionbars{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
